__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.env.*
env/
venv/
ENV/
env.bak/
venv.bak/
.venv
.git
.gitignore
.idea
.vscode
*.md
Dockerfile
docker-compose.yml
instance/*.db
instance/*.db-journal
**/*.log
