<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Earnings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="{{ url_for('static', filename='inventory.js') }}"></script>
</head>
<body>
    <header>
        <h1>Daily Earnings</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('routes.dashboard') }}" class="link">Dashboard</a></li>
            </ul>
        </nav>
    </header>
    <form method="POST" action="{{ url_for('routes.add_earnings') }}" class="container">
        <input type="radio" id="hourly" name="earnings_type" value="hourly" checked onclick="showHideForms()">
        <label for="hourly">Hourly</label>
        <input type="radio" id="salary" name="earnings_type" value="salary" onclick="showHideForms()">
        <label for="salary">Salary</label><br><br>
    
        <div id="hourly_fields" class="section">
            <label for="hourly_rate">Hourly Rate:</label><br>
            <input type="number" id="hourly_rate" name="hourly_rate" step="0.01" min="0" value="{{ last_hourly_rate }}" required><br>

            <label for="hours">Hours Worked:</label><br>
            <input type="number" id="hours" name="hours" step="0.01" min="0" value="0" required><br>
        
            <label for="cash_tips"> Or Total Paycheck / Tips:</label><br>
            <input type="number" id="cash_tips" name="cash_tips" step="0.01" min="0" value="0" required><br>
        </div>
        
        <div id="salary_fields" class="section" style="display: none;">
            <label for="salary_input">Salary After Taxes:</label><br>
            <input type="number" id="salary_input" name="salary_input" step="0.01" min="0" value="0" required><br>
        </div>
    
        <input type="submit" value="Add Earnings" class="btn">
    </form>
    
    
    <footer>
        <p>&copy; 2024 Shimi. All rights reserved.</p>
    </footer>
</body>
</html>