<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Add Task</title>
</head>
<header>
    <h1>Add Task</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('tasks.task') }}">Tasks</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Menu</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('inventory_routes.get_inventory_items') }}">Inventory</a></li>
                    <li><a href="{{ url_for('routes.dashboard') }}">Dashboard</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</header>
<body>
    <h1>Add a New Task</h1>
    <form action="/add_task" method="POST">
        <input type="text" name="title" placeholder="Task title" required>
        <label for="repeat_daily">Repeat Daily:</label>
        <input type="checkbox" name="repeat_daily">
        <button type="submit">Add Task</button>
    </form>
    <a href="/">Back to List</a>
</body>
</html>
