<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Inventory Items</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <style>
        /* Additional CSS styles for enhanced visual appearance */
        table.dataTable tbody tr:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="center">Inventory Items</h1>
        <div class="center-buttons">
            <nav>
                <ul>
                    <li><a href="{{ url_for('routes.dashboard') }}" >Go back to Dashboard</a></li>
                    <li><a href="{{ url_for('inventory_routes.view_inventory') }}" >Add Item</a></li>
                    <li><a href="{{ url_for('inventory_routes.download_excel_inventory') }}" >Download Excel Spreadsheet</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Modal for updating inventory item -->
    <div id="updateModal" class="modal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="center" id="updateModalLabel">Update Inventory Item</h2>
                </div>
                <div class="modal-body">
                    <!-- Form for updating inventory item -->
                    <form id="updateItemForm">
                        <!-- Input fields for updating item values -->
                        <!-- You can customize the input fields based on your requirements -->
                        <div class="mb-3">
                            <label for="itemName" class="form-label">Item Name</label>
                            <input type="text" class="form-control" id="itemName" name="itemName">
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="quantity" name="quantity">
                        </div>
                        <div class="mb-3">
                            <label for="unitOfMeasurement" class="form-label">Unit of Measurement</label>
                            <input type="text" class="form-control" id="unitOfMeasurement" name="unitOfMeasurement">
                        </div>
                        <!-- Hidden input field for item ID -->
                        <input type="hidden" id="itemId" name="itemId">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="submitUpdate(); window.location.reload();">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table id="inventoryTable" class="display">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit of Measurement</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory_items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unit_of_measurement }}</td>
                    <td>
                        <form id="updateForm-{{ item.id }}" action="{{ url_for('inventory_routes.update_inventory_item', item_id=item.id) }}" method="POST" onsubmit="reloadPage()">
                            <button type="button" class="btn btn-primary update-btn" onclick="updateItem({{ item.id }})">Select</button>
                        </form>
                        <form id="deleteForm-{{ item.id }}" action="{{ url_for('inventory_routes.delete_inventory_item', item_id=item.id) }}" method="POST" >
                            <button type="button" class="btn btn-danger" onclick="confirmDelete({{ item.id }})">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <footer>
        <p>&copy; 2024 YourCompany. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="{{ url_for('static', filename='inventory.js') }}"></script>
</body>
</html>